body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px; /* Ensure there's padding around the content */
}

#input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 20px); /* Adjust width to account for padding */
    max-width: 500px; /* Limit form width on larger screens */
}

input, textarea, button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Ensure inputs take full width of the form */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media query for devices with a width of up to 768 pixels */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        height: auto; /* Allow the body to grow taller than the viewport */
        padding: 20px; /* Increase padding for smaller screens */
    }

    #input-form {
        width: calc(100% - 40px); /* Adjust form width to ensure padding does not make it too wide */
    }
}

header {
    text-align: center;
    margin-bottom: 20px; /* Adjust spacing between the header and the form */
}

.hidden {
    display: none;
}

#help-box {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px;
    width: 600px; /* Adjust based on your content */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 100; /* Ensure it's above other content */
}

/* Adjust the media query if needed for better mobile display */
@media (max-width: 768px) {
    #help-box {
        width: calc(100% - 100px); /* Make it responsive */
    }
}

h2 {
    text-align: center;
}
